# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\A_资料\计算机书籍\2022.1.11\mybatis_plus\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

# Compiled class file
*.class
.idea/
# Log file
*.log

# BlueJ files
*.ctxt


